#mcNoramlAddtable1{
    position: fixed;
	top: 67%;
	left: 50%; 
	margin: -201px 0 0 -400px; 
	width: 600px;
}
#mcNTable1{
    position: fixed;
	top: 37%;
	left: 40%; 
	margin: -201px 0 0 -400px; 
	width: 900px;
}